<!DOCTYPE html>
<html>
    <head>
        <title>Issues Dashboard</title>
    </head>

    <body>
        <h1 th:inline="text">Issue for [[${projectName}]]</h1>
        <table style="border: 1px;">
            <tr>
                <th>Issue ID</th>
                <th>Issue Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <a href="/issue-page/1">Issue #1</a>
                </td>
            </tr>
        </table>
    </body>
</html>